# Ignore dot files
.env
.DS_Store

# Ignore python cache files
pyvenv.cfg
__pycache__/

# Ignore compiled python files
venv/

# Ignore important data files
src/rclone.txt
src/register.txt
src/Machines/Fiji202/*data*
src/Machines/Savannah/*data*
src/Machines/SmartCam/*data*
src/Machines/MVD/*data*
ansible/hosts.yml
error.log

# Ignore test files
testSuite.py
junk/